h3 {
    font-family: Helvetica, sans-serif;
    color: #f06200;
    font-weight: 800;
    padding: 20px 0;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: #042e94;
}

.item img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

